.bg-system {
    /* background-color: #4a89dc !important;
    background-color: #4a89dc !important; */
    background-color: #FF3CAC !important;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%) !important;
    color: #cef1e8;
}

.bg-system.dark {
    /* background-color: #3e70b3 !important; */
    background-color: #FF3CAC !important;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%) !important;
}

.sidebar-menu .sidebar-label {
    color: #ffffff;
}

/* =========================================== */
/* pagination color nombers */
/* =========================================== */
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #23074d;
    border-color: #23074d;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 9px 12px;
    line-height: 1.49;
    text-decoration: none;
    color: #23074d;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #23074d;
    background-color: #eeeeee;
    border-color: #ddd;
}

/* ============================================================== */
/* end pagination */
/* ============================================================== */
.sidebar-menu>li>ul>li.active>a>span:nth-child(1),
.sidebar-menu>li>ul>li>a.menu-open>span:nth-child(1) {
    color: #cc5333;
}

.sidebar-menu>li.active>a>span:nth-child(1) {
    color: #cc5333;
}

.badge-success {
    background-color: #4a89dc;
}

.navbar {
    z-index: 1030;
    margin-bottom: 0;
    height: 60px;
    color: rgb(255, 255, 255);
    /* background-color: #4a89dc; */

    background: #23074d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 0;
    border: 0;
    border-bottom: 0;
    box-shadow: 0 1px 0 0  #cc5333;
}

#sidebar_left {
    background-color: #252525;
}

.navbar .nav>li.open>a,
.navbar .nav>li:hover>a,
.navbar .nav>li:focus>a,
.navbar .nav>li.active>a,
.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {
    color: #ffffff;
    background-color: #3e70b3;
}

.navbar.bg-system .nav>li.open>a,
.navbar.bg-system .nav>li:hover>a,
.navbar.bg-system .nav>li:focus>a,
.navbar.bg-system .nav>li.active>a,
.navbar.bg-system .nav>li>a:hover,
.navbar.bg-system .nav>li>a:focus {
    color: #FFF;
    background-color: #3e70b3;
}

.navbar.bg-system .nav>li.dropdown.open .dropdown-menu,
.navbar.bg-system .nav>li.dropdown .open .dropdown-menu {
    border-top-color: #4a89dc;
}

.navbar.bg-system .nav>li.dropdown.open .dropdown-menu:after,
.navbar.bg-system .nav>li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #4a89dc;
}

/* .btn-primary {
    color: #fff;
    background-color: #4a89dc;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3e70b3;
    border-color: rgba(0, 0, 0, 0.05);
} */

a {
    color: #4a89dc;
    text-decoration: none;
}

.panel-tabs.panel-tabs-border>li.active>a {
    margin-top: -1px;
    border-top: 2px solid #4a89dc;
}

.table>thead>tr>td.primary,
.table>tbody>tr>td.primary,
.table>tfoot>tr>td.primary,
.table>thead>tr>th.primary,
.table>tbody>tr>th.primary,
.table>tfoot>tr>th.primary,
.table>thead>tr.primary>td,
.table>tbody>tr.primary>td,
.table>tfoot>tr.primary>td,
.table>thead>tr.primary>th,
.table>tbody>tr.primary>th,
.table>tfoot>tr.primary>th {
    color: #3e70b3;
    border-color: #4a89dc;
    background-color: #d9f293;
}

.admin-form.theme-primary .section-divider span {
    color: #4a89dc;
}

.badge-primary {
    background-color: #4a89dc;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #3e70b3;
    border-color: rgba(0, 0, 0, 0.05);
}

.btn-info {
    color: #fff;
    background-color: #4a89dc;
}

.btn-success {
    color: #fff;
    background-color: #4a89dc;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #3e70b3;
    border-color: rgba(0, 0, 0, 0.05);
}

#topbar .nav.nav-list-topbar li.active a {
    border-bottom: 3px solid #23074d;
}

.input-group-addon {
    color: #23074d;
    background-color: #fafafa;
    border-color: #DDD;
}

.panel-controls>a {
    display: none !important;
}

body.sb-l-m .sidebar-menu>li.active>a>span:nth-child(1) {
    color:#cc5333;
}

.admin-form.theme-success .section-divider span {
    color: #cc5333;
}

.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    color: #ffffff;
    border-color: #23074d;
    background-color: #23074d;
}

.admin-form .btn-info {
    background-color: #23074d;
}

.admin-form .btn-info:hover,
.admin-form .btn-info:focus {
    background-color: #23074d;
    border-color: #23074d;
}

.nano.affix.nano-primary>.nano-pane>.nano-slider {
    background: #23074d !important;
}

.text-info {
    color: #23074d;
}

.admin-form .panel-info>.panel-heading {
    border-top-color: #23074d;
}

.admin-form .panel-info.heading-border:before,
.admin-form .panel-info .heading-border:before {
    background-color: #23074d;
}

.admin-form .btn-primary:active {
    background-color: #23074d;
}

.admin-form .btn-primary:hover,
.admin-form .btn-primary:focus {
    background-color: #23074d;
    border-color: #23074d;
}

.admin-form .btn-primary {
    background-color: #23074d;
}

.admin-form.theme-info .gui-input:focus,
.admin-form.theme-info .gui-textarea:focus,
.admin-form.theme-info .select>select:focus,
.admin-form.theme-info .select-multiple select:focus {
    border-color: #23074d;
    color: #3C3C3C;
}

.admin-form .append-icon .field-icon,
.admin-form .prepend-icon .field-icon {
    top: 0;
    z-index: 4;
    width: 42px;
    height: 42px;
    color: #23074d !important;
    line-height: 42px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
}

.admin-form.theme-info .gui-input:hover,
.admin-form.theme-info .gui-textarea:hover,
.admin-form.theme-info .select>select:hover,
.admin-form.theme-info .select-multiple select:hover,
.admin-form.theme-info .gui-input:hover~.input-footer,
.admin-form.theme-info .file .gui-file:hover+.gui-input,
.admin-form.theme-info .gui-textarea:hover~.input-footer {
    border-color: #23074d;
}

.sidebar-menu>li>ul>li:hover>a:after,
.sidebar-menu>li>ul>li:focus>a:after {
    background: #23074d;
}

.btn-primary {
    color: #fff;
    background-color: #23074d !important;
}

.btn-system {
    color: #fff;
    background-color: #23074d;
}

.admin-form.theme-system .section-divider span {
    color: #23074d !important;
}

.admin-form.theme-success .section-divider span {
    color: #23074d !important;
}

.panel-system .panel-heading {
    color: #fff;
    background-color: #23074d !important;
    border-color: #23074d !important;
}

.admin-form .panel-system .panel-heading {
    border-top-color: #23074d !important;
}

.admin-form .panel-system.heading-border:before,
.admin-form .panel-system .heading-border:before {
    background-color: #23074d !important;
}

.text-system {
    color: #ffffff;
}

.admin-form .btn-system {
    background-color: #23074d !important;
}

.admin-form.theme-system .gui-input:focus,
.admin-form.theme-system .gui-textarea:focus,
.admin-form.theme-system .select>select:focus,
.admin-form.theme-system .select-multiple select:focus {
    border-color: #23074d !important;
    color: #3C3C3C;
}

.admin-form.theme-system .gui-input:hover,
.admin-form.theme-system .gui-textarea:hover,
.admin-form.theme-system .select>select:hover,
.admin-form.theme-system .select-multiple select:hover,
.admin-form.theme-system .gui-input:hover~.input-footer,
.admin-form.theme-system .file .gui-file:hover+.gui-input,
.admin-form.theme-system .gui-textarea:hover~.input-footer {
    border-color: #23074d !important;
}

.navbar.bg-system {
    background-color: #23074d !important;
}

.bg-system.dark {
    background-color: #23074d !important;
}

.text-primary {
    color: #23074d !important;
}

body.external-page #main {
    overflow: hidden;
    background: url("../../../img/patterns/backgrounds/1.jpg") no-repeat top center #ffffff;
}

.radio-custom.radio-info label:before,
.checkbox-custom.checkbox-info label:before {
    border-color: #23074d;
}

.radio-custom.radio-info input[type=radio]:checked+label:after,
.radio-custom.radio-info input[type=checkbox]:checked+label:after,
.checkbox-custom.checkbox-info input[type=checkbox]:checked+label:after,
.checkbox-custom.checkbox-info input[type=radio]:checked+label:after {
    background-color: #231702;
    color: #23074d;
}

/*nevbar menu fff color */
#toggle_sidemenu_l,
#toggle_sidemenu_t {
    color: #fff;
    float: right;
    cursor: pointer;
    font-size: 16px;
    line-height: 58px;
    max-height: 60px;
    width: 60px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar .nav>li>a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 59px;
    max-height: 59px;
}

.navbar-branding .navbar-brand {
    color: #fff;
    height: 60px;
    line-height: 58px;
    padding: 0;
    padding-left: 18px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #23074d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #23074d;
}

/* datatebal sherch */
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
    height: 30px;
}

div.dataTables_wrapper div.dataTables_length select {

    height: 34px;
}


/* desbord box color */
.bg-alert.light {
    /* background-color: #4900ff !important; */
    background-image: radial-gradient(circle 1084px at 0.8% 97.8%, rgba(7, 3, 98, 1) 0%, rgba(179, 26, 132, 1) 52%, rgba(231, 177, 81, 1) 100.2%) !important;
}

.bg-info.light {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-danger.light {
    /* background-color: #e42200 !important; */
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-warning.light {
    /* background-color: #ffae00 !important; */
    background: #F7971E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* ------------------------------------------------------- 
 icone fa fa buttan 
------------------------------------------------------- */
.btn-warning {
    color: #fff;
    background-color: #ffcc25;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ff2200;
    /* border-color: rgba(0, 0, 0, 0.05);*/
} 
.danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ff2200;
    border-color:  #ff2200;
}


/* ========================================= */
/* alart display time  */
/* ========================================= */
.alert-danger {
    color: #FFF;
    background-color: #e9573f;
    /* height: 20px; */
}

/* ============================================= */
.navbar .nav > li.dropdown.open .dropdown-menu, .navbar .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #23074d;
}
.navbar .nav > li.dropdown.open .dropdown-menu:after, .navbar .nav > li.dropdown .open .dropdown-menu:after {
    border-bottom-color: #23074d;
}